.encabezado{
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    color: rgb(18, 187, 199);
    font-size: 35px;
}
table {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    font-family: 'Tilt Warp', cursive;
}
body{
    background-color: black;
}
a{
    color: red;
}
.Vector{
    display: flex;
    justify-content: center;
    background-color: orange;
}